# Auto detect text files and perform LF normalization
* text=auto

/lib/gen/* linguist-generated=true
/**/*.g.dart linguist-generated=true
/**/*.freezed.dart linguist-generated=true

/lib/gen/intl/* -diff
/lib/gen/l10n.dart -diff
